<tr>
  <td>{{food.description}}</td>
  <td>{{food.calories}}</td>
  <td>{{food.grams_per_serving}}</td>
  <td>{{food.fat_mono}}</td>
  <td>{{food.fat_poly}}</td>
  <td>{{food.fat_sat}}</td>
  <td>{{food.carbs}}</td>
  <td>{{food.sugar}}</td>
  <td>{{food.fiber}}</td>
  <td>{{food.protein}}</td>
  <td>{{food.sodium}}</td>
  <td>{{food.choles}}</td>
</tr>
