<tr>
  <th>Calories</th>
  <th>Fat Mono</th>
  <th>Fat Poly</th>
  <th>Fat Sat</th>
  <th>Carbs</th>
  <th>Sugar</th>
  <th>Fiber</th>
  <th>Protein</th>
  <th>Sodium</th>
  <th>Cholesteral</th>
</tr>
<tr>
  <td>{{mealTotal.calories}}</td>
  <td>{{mealTotal.fat_mono}}</td>
  <td>{{mealTotal.fat_poly}}</td>
  <td>{{mealTotal.fat_sat}}</td>
  <td>{{mealTotal.carbs}}</td>
  <td>{{mealTotal.sugar}}</td>
  <td>{{mealTotal.fiber}}</td>
  <td>{{mealTotal.protein}}</td>
  <td>{{mealTotal.sodium}}</td>
  <td>{{mealTotal.choles}}</td>
</tr>
